.main-container{
  margin-top: 40px;
}

/* Drop Zone */
.drop-zone {
	border: dotted 3px lightgray;
	opacity: 0.5;
	color: #666;
	text-align: center
}

.file-over {
	border: dotted 3px dodgerblue;
}

.table {
	margin-top: 30px;
}

.text-green {
	color: green
}
.bg-green {
	background: green
}

.card-columns {
  column-count: 6;
}
@media(max-width: 1440px) {
  .card-columns {
    column-count: 5;
  }
}
@media(max-width: 1024px) {
  .card-columns {
    column-count: 4;
  }
}
@media(max-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}
@media(max-width: 565px) {
  .card-columns {
    column-count: 2;
  }
}
@media(max-width:425px) {
  .card-columns {
    column-count: 1;
  }
}
